h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

/** General **/
.overflow-container {
    overflow:auto;
    margin-bottom: 0px;
}
.main-column-container {
    height: 300px;
}
.main-column-container {
    height: 100%;
}

/** Buttons **/
.ladda-button {
    padding: 8px 18px;
    font-size: 15px;
}
/** Vibe **/
.btn-brewery-vibe {
    width: 100%;
    margin-bottom: 20px;
}

/** Brewery Details **/
.brewery-details {
    margin-right: -1px;
    margin-left: 0px;
}
.brewery-details-img {
    margin:auto;
    width: 100%;
    padding: 0px;
}
.brewery-details-title {
    font-size: 2.1em;
}
.details-jumbotron {
    height: 300px;
    padding-bottom:0px;
}

/** Brewery List **/
.brewery-list-item-container {
    overflow: hidden;
    height:100%;
}
.brewery-list-icon {
    float: left;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 2px 2px;
    background-color: #262626;/*#4e5d6c;*/
    border-bottom: 1px solid rgba(0,0,0,.7)
}
.list-group-item-alternate {
    background-color:#262626;
}
a.list-group-item {
    border: none;
}

/** Brewery Map **/
.mapInfoContainer {
    color: #000;
    max-height: 40px;
}

#map-canvas {
    min-height:300px;
}

/** Q and A **/
.answer-container {
    font-size: 1.2em;
    overflow: auto;
    max-height: 45vh;
/*    padding-right: 10px;
    padding-left: 10px;*/
}
.answer-container a {
    color: #ffffff;
    text-decoration: underline;
}
.answer-header {
    font-size: 1.3em;
}
.answer-footer {
    font-size: 1.0em;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/** Twitter **/
.twitter-container {

}
.twitter-article {
    background-color: rgba(38,38,38,0.8);
    float: left;
    width: 100%;
    margin-bottom: 3px;
}
.twitter-article a {
    color: #f0ad4e;
}
.twitter-pic {
    float: left;
    padding: 5px;
}
.twitter-text {

}
.tweet-profile-link {

}
.tweet-time {

}
.retweet-indicator {

}
.twitter-actions {

}
.intent {

}
.intent-reply {

}
.intent-retweet {

}
.intent-fave {

}

/** Dialogs **/
.usermodel-modal, .qa-modal {
    width: 85%;
    margin: 30px auto;
}

/*
.modal-body {
    height: 75vh;
}
*/

/** User Modeling **/
.um-characteristic-title {
    font-weight: 900;
    font-size: 1.5em;
    width: 120px;
}

.um-visualization {
    margin-top: -45px;
}

.um-data-container {
    overflow: auto;
    height: 75vh;
    margin-bottom: 20px;
}

/** QA **/
.qa-answer-section {
    padding-top: 30px;
    height: 65vh;
}

/* Columns */
.col-xs-1, .col-xs-1, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
/** Media queries **/
@media (min-width: 768px) {
    #map-canvas {
        min-height:300px;
    }
    .main-column-container {
        height: 300px;
    }
    .details-jumbotron {
        height: 300px;
        padding-bottom:0px;
    }

    .lg-tight-left, .tight-left {
        padding-left: 0px;
    }

    .tight-right {
        padding-right: 0px;
        padding-bottom:20px;
    }
}
@media (min-width: 992px) {
    #map-canvas {
        height: 85vh;
    }
    .main-column-container {
        height: 85vh;
    }
    .details-jumbotron {
        height: 85vh;
        padding-bottom:0px;
        margin-bottom: 0px;
    }

    .tight-left {
        padding-left: 0px;
    }
    .tight-right {
        padding-right: 0px;
        padding-bottom: 0px;
    }
}
@media (min-width: 1200px) {
    #map-canvas {
        height: 85vh;
    }
    .main-column-container {
        height: 85vh;
    }
    .details-jumbotron {
        height: 85vh;
        padding-bottom:0px;
        margin-bottom: 0px;
    }
    .tight-left {
        padding-left: 0px;
    }

    .tight-right {
        padding-right: 0px;
        padding-bottom: 0px;
    }
}

/** Chrome scrollbars **/
::-webkit-scrollbar {
    width: 12px;
    -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,.9);

}
::-webkit-scrollbar-track {
    width: 8px;
    background: rgba(38,38,38,0.7);
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgba(38,38,38, .8);
    -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,.7);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,0.3);
}
.beer-icon {
    margin: auto;
    display: block;
}
.beer-square {
    border: 1px dashed rgba(255,255,255,.4);
}
.invert {
    -webkit-filter: invert(100%)
}
.horizontal-grad {
    background: -moz-linear-gradient(left,  rgba(38,38,38,0.50) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,38,38,0.50)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(38,38,38,0.50) 0%,rgba(38,38,38,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(38,38,38,0.50) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(38,38,38,0.50) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(38,38,38,0.50) 0%,rgba(38,38,38,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f262626', endColorstr='#d9262626',GradientType=1 ); /* IE6-9 */
}
