@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 12px helveticaneue,arial,sans-serif;

}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {

  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;

    bottom:0;
    position:fixed;
    padding:5px;
    background-color: #f5f5f5;
    width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

h1,h2,h3,h4 {

  /*font-family: 'Kreon', serif;*/
  vertical-align:middle;
}

header {
  /*background: #f16251;*/
  background: rgb(247,148,0);
  height:150px;
  color: #000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#101010;
  font-weight:800;
  text-decoration:none;
    font-size:1.3em;
}

header h1 {
    font-size: 1.5em;
}

header h3 {
  font-family: 'Kreon', serif;
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:1.2em;
  padding:12px 10px 6px 10px;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

h1 {
  font-size:1.3em;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:18px;
}

.section-divider {
    height:50px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas {
  	width: 100%; 
  	height: 70vh;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:1.1px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height:300px;
  height: auto !important;
  height: 100%;
  padding-top:30px;
}

.bg-1 {
	background: url('../app/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('../app/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}


.list-container {
    overflow:auto;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
}

.row-fluid{
    white-space: nowrap;
}
.row-fluid .col-lg-3{
    display: inline-block;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    font-size: .9em;
}

ul.horizontal-slide li[class*="span"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}

.brewery-list-icon {
    float: left;
    /*width: 32px;*/
    /*height: 32px;*/
    padding: 10px, 0px, 10px, 0px;
}

.brewery-list-title {
    font-weight: 800;
}
.brewery-list-main {
    font-size: .9em;
}
.brewery-list-sub {
    font-size: .8em;
}
.brewery-list-item {
    position: relative;
    display: block;
    padding: 5px 0px 18px 1px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    border-top: 1px dashed #ddd;
    min-height: 60px;
}

.brewery-title {
    font-size: 1.5em;
    font-weight: 800;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    border-left: 1px dashed #ddd;
}

.animate-hide {
    -webkit-transition: 1s ease-out all; /*all linear 0.5s;*/
    transition: 1s ease-out all;/*all linear 0.5s;*/
    line-height: 2000px;
    opacity: 1;
    padding: 10px;
    background: white;
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.panel-brewery-title {
    height: 100px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.no-blur-content {
    margin-top: -110px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255,255,255,.5);
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 00px;
}

.lead {
    font-size: 1em;
}

.list-col1, .list-col2, .list-col3 a:visited {color: black;}   /* visited link */
.list-col1, .list-col2, .list-col3 a:hover {color: black;}     /* mouse over link */
.list-col1, .list-col2, .list-col3 a:active {color: black;}

.btn-wide,
.btn-full-wide {
    width: 32%;
    background-color: #2e2e2e; /* #414141;*/
    border-color: rgba(255,255,255,.3);
}
.btn-full-wide {
    width: 49%;
}
.btn-full-wide:hover,
.btn-full-wide:focus,
.btn-full-wide:active,
.btn-full-wide.active,
.btn-full-wide.disabled,
.btn-full-wide[disabled],
.btn-wide:hover,
.btn-wide:focus,
.btn-wide:active,
.btn-wide.active,
.btn-wide.disabled,
.btn-wide[disabled]
.btn-wide:hover {
    background-color: #414141;
    color: white;
}

.fa-color {
    color : white;
    border-color: white;
}

.flush-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.large-vertical-placeholder {
    height: 200px;
}

